.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
%fix-font-size {
  font-size: 0.85em;
  @include mq("s") {
    font-size: unset;
  }
}
