/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  list-style: none;
  padding: 10px;
  margin: 0 5px;
  border-radius: 20px;

  &-selected {
    background-color: map-get($map: $theme-colours, $key: col-10);
    color: map-get($map: $theme-colours, $key: col-14);
  }
}

// @each $state, $color in $button-colours {
//   .#{$state} {
//     background-color: $color;
//     &:hover {
//       transition: background-color 0.3s ease-in-out;
//       background-color: lighten($color, 15%);
//     }
//   }
// }
/* ============================================= */
/*             User pop-up alerts                         */
/* ============================================= */
.alert-banner {
  @include flexy() {
    justify-content: space-between;
  }
  @extend .btn;
  padding: 0 10px;
  background-color: map-get($map: $theme-colours, $key: col-header);
  color: map-get($map: $theme-colours, $key: col-14);
  * {
    color: inherit;
  }
  &-close {
    cursor: pointer;
  }
}
