/* ============================================= */
/*             Containers                  */
/* ============================================= */

.container {
  padding: 0 10px;
  @include mq(s) {
    @include center(1400px);
  }
}
.card {
  background-color: lightslategray;
  padding: 5px;
  border-radius: 15px;
}
