/* ============================================= */
/*              Forms                            */
/* ============================================= */

// .form {
//   flex-basis: 100%;
// }

// .input{

//   @include center;
//   width: 94%;
//   margin-top:10px;
//   padding: 10px;
//   border: none;
//   border-bottom: 5px solid map-get($theme-colours,col-13);
// }

.form-widget-container {
  @include flexy(column);
  .form-field,
  .form-area {
    margin: 5px;
    border-radius: 5px;
    background-color: darken($color: #fff, $amount: 5%);
  }
  .form-field {
    border-color: darken($color: #fff, $amount: 5%);
    height: 40px;
  }
  .form-area {
    height: 100px;
  }
}

/* ==============Settings=================== */

.settings {
  @extend .form-widget-container;
  h3 {
    background-color: unset;
  }
  &-button {
    @include flexy() {
      > * {
        flex: 1;
      }
    }
  }
  // .switch-container {
  //   @include flexy();
  // }
}
/* ==============Custom Switch=================== */
// source style for switches
// .switch-ios.switch-light input:checked ~ span a {
//   left: 100%;
//   border-color: purple;
//   margin-left: -2em;
// }
// .switch-ios.switch-light input:checked ~ span {
//   border-color: purple;
//   box-shadow: inset 0 0 0 30px purple;
// }

.switch-ios.switch-light.custom-switch {
  margin: 1em;
  @include flexy();
  > * {
    flex: 1;
  }
  strong {
    flex: 2;
  }

  $color-switch: map-get(
    $map: $theme-colours,
    $key: col-header,
  );
  input:checked ~ span a {
    border-color: $color-switch;
  }
  input:checked ~ span {
    border-color: $color-switch;
    box-shadow: inset 0 0 0 30px $color-switch;
  }
}
