/* ============================================= */
/*              Forms                            */
/* ============================================= */

// .form {
//   flex-basis: 100%;
// }

// .input{

//   @include center;
//   width: 94%;
//   margin-top:10px;
//   padding: 10px;
//   border: none;
//   border-bottom: 5px solid map-get($theme-colours,col-13);
// }

.form-widget-container {
  @include flexy(column);
  .form-field,
  .form-area {
    margin: 5px;
    border-radius: 5px;
    background-color: darken($color: #fff, $amount: 5%);
  }
  .form-field {
    width: auto;
    border-color: darken($color: #fff, $amount: 5%);
    height: 40px;
  }
  .form-area {
    height: 100px;
  }
}

/* ==============Settings=================== */

.settings {
  @extend .form-widget-container;
  h3 {
    background-color: unset;
  }
  &-button {
    @include flexy() {
      > * {
        flex: 1;
      }
    }
  }
}
//custom drop down Arrow
.settings {
  div.selectdiv {
    margin-right: 10px;
    flex: 1;
    select {
      width: 100%;
    }
  }
  //css style from https://fabriceleven.com/design/clever-way-to-change-the-drop-down-selector-arrow-icon/
  .selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/
  }

  /*To remove button from IE11, thank you Matt */
  select::-ms-expand {
    display: none;
  }

  .selectdiv:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid map-get($map: $theme-colours, $key: col-header);
    right: 11px;
    /*Adjust for position however you want*/
    top: 20px;
    padding: 0 0 2px;
    /*left line */
    position: absolute;
    pointer-events: none;
    //shadow effect//
    text-shadow: 1px 1px 1px 1px black;
  }

  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
  }
}

/* ==============Custom Switch=================== */
// source style for switches
// .switch-ios.switch-light input:checked ~ span a {
//   left: 100%;
//   border-color: purple;
//   margin-left: -2em;
// }
// .switch-ios.switch-light input:checked ~ span {
//   border-color: purple;
//   box-shadow: inset 0 0 0 30px purple;
// }

.switch-ios.switch-light.custom-switch {
  a:focus {
    outline: none;
  }

  margin: 1em;
  @include flexy() {
    justify-content: start;
  }
  > * {
    flex: 1;
    max-width: 250px;
  }
  span {
    max-width: 100px;
  }

  $color-switch: map-get(
    $map: $theme-colours,
    $key: col-header,
  );
  input:checked ~ span a {
    border-color: $color-switch;
  }
  input:checked ~ span {
    border-color: $color-switch;
    box-shadow: inset 0 0 0 30px $color-switch;
  }
  input:focus:not(:focus-visible) ~ span a,
  input:focus:not(:focus-visible) + label {
    outline: none;
  }
}
// :::::::::::::::::Search autocomplete::::::::::::::::::
.message {
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    min-width: 100px;
    display: flex;
    * {
      flex: 1;
    }
  }
  // input {
  //   border: 1px solid transparent;
  //   background-color: #f1f1f1;
  //   padding: 10px;
  //   font-size: 16px;
  // }
  // input[type="text"] {
  //   background-color: #f1f1f1;
  //   flex: 1;
  // }
  // input[type="submit"] {
  //   background-color: DodgerBlue;
  //   color: #fff;
  // }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
}
