/* ===============animations============= */
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

/* ============================================= */
/*             Header                   */
/* ============================================= */
header {
  height: 65px;
  @include flexy() {
    align-items: center;
    background-color: map-get($map: $theme-colours, $key: col-header);
  }
  & * {
    color: map-get($map: $theme-colours, $key: col-14);
  }
  & > *:not(sup) {
    margin: 0 5px 0;
  }
  & h1:first-child {
    margin-right: auto;
  }

  .avatar {
    position: relative;
    width: 35px;
    height: auto;
    border-radius: 50%;
  }

  .notifications-bell {
    position: relative;
    border-right: solid 0.6px;
    border-color: darken(map-get($theme-colours, col-14), 40%);
    padding: 5px;
    &::after {
      content: "\2022";
      font-size: 30px;
      display: block;
      position: absolute;
      top: -15px;
      right: 1px;
      color: green;
    }
  }

  .bell:hover {
    transition: transform 0.3 s ease-in-out;
    transform: scale(1.1);
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  cursor: pointer;
  @include mq("s") {
    position: relative;
  }
}
// drop button
#dropcheck {
  position: absolute;
  opacity: 0;
}
.dropbtn {
  cursor: inherit;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  width: 100vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  @include mq("s") {
    left: unset;
    right: -20px;
    width: 350px;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
#dropcheck:checked ~ #notifications {
  padding: 0 15px;
  display: block;
}

/* Notification-container style */
.notification-container {
  height: 50px;
  @extend %fix-font-size;
  border-bottom: $border-style;
  @include flexy() {
    justify-content: space-between;
    align-items: center;
  }

  margin-top: 5px;
  a {
    display: list-item;
    list-style-type: disc;
    margin-left: 25px;
    &::marker {
      color: green;
    }
  }
  &-close {
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: tomato;
      color: white;
    }
  }
}
