/* ============================================= */
  /*              Images                           */
  /* ============================================= */
  
  [class|="img"] {
    @include center;
       } 
       
  .img { 
    @include center;
  &-avatar {
    margin-top: 10px;
    max-height: 100%;
  }
  
  &-frame {
    margin-top: 10px;
    padding: 13px;
    border: 1px solid #ccc;
  }
  @include mq(s){
  &-logo{
    margin-left: initial;
    margin-right: initial;
  }
  }
}