/* ============================================= */
/*             Main Content of the page                   */
/* ============================================= */

/* ==============Main header================ */

.main-header {
  @include flexy();
  .headline-secondary {
    padding: 0 15px 0;
  }
  .main-header-search {
    margin-right: neg($main-margin);
    flex: 1;
    background-color: darken(#fff, 5%);
    box-shadow: -1px 1px 1px 1px darken(#fff, 10%);
    display: flex;
    align-items: center;
    input {
      max-width: 45vw;
      border: none;
      border-radius: 5px;
      height: 60%;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}
/* ==============Widgets and Charts================ */
.traffic {
  .traffic-header {
    @include flexy(row, wrap) {
      > *:first-child {
        margin-right: auto;
      }
      > *:last-child {
        padding: 0;
        @include flexy() {
          justify-content: space-between;
        }
      }
      & * {
        margin: 5px;
      }
    }
  }
}
//set width in vw for js charts

.widget-container {
  &-full,
  &-half {
    @include flexy(column) {
      align-items: center;
    }
    .canvas-container {
      // padding: 0 1em 2em 1em;
    }
  }
  &-full {
    .canvas-container {
      width: 90vw;
    }
  }
  &-half {
    .canvas-container {
      width: 90vw;
      @include mq("s") {
        width: 45vw;
        // margin-bottom: 1em;
      }
    }
  }
}

//fix alignment- align daily chart with mobile

.mobile {
  h3 {
    margin-bottom: 0;
  }
  .canvas-container {
    @include mq("s") {
      width: 30vw;
    }
  }
}

//social section
.wrapper-social-containers {
  @include flexy(column) {
    // Social containers
    justify-content: space-evenly;
    @include mq("s") {
      flex-direction: row;
    }
  }
}
.social-container {
  @extend .card;
  flex: 1;
  margin: 10px;
  @include flexy() {
    align-items: center;
    justify-content: flex-start;
  }
  color: map-get($map: $theme-colours, $key: col-header);
  * {
    color: inherit;
    margin: 10px;
  }
  .social-text {
    > * {
      margin: 0;
    }
    > *:last-child {
      color: gray;
      font-size: 2em;
    }
  }
}
.social-image {
  background-color: currentColor;
  padding: 3px;
  border-radius: 50%;
  * {
    fill: white;
  }
}

// Members and activity containers

.members,
.activity {
  &-container {
    border-bottom: $border-style;
    flex: 1;
    margin: 10px;
    padding: 10px;
    @include flexy(column) {
      align-items: center;
      @include mq("s") {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    > *:last-child {
      color: revert;
      @include mq("s") {
        margin-left: auto;
      }
    }
  }
  .profile-image {
    width: 128px;
    height: auto;
    border-radius: 50%;
  }
  &-text {
    > * {
      margin: 0 10px;
      text-align: center;
      @include mq("s") {
        text-align: start;
      }
    }
    > *:last-child {
      color: revert;
    }
  }
}
