/* ============================================= */
/*             Main Content of the page                   */
/* ============================================= */

/* ==============Main header================ */

.main-header {
  @include flexy();
  .headline-secondary {
    padding: 0 15px 0;
  }
  .main-header-search {
    flex: 1;
    background-color: darken(#fff, 5%);
    box-shadow: -1px 1px 1px 1px darken(#fff, 10%);
    display: flex;
    align-items: center;
    input {
      height: 40%;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}
/* ==============Widgets and Charts================ */
.traffic {
  .traffic-header {
    @include flexy(row, wrap) {
      > *:first-child {
        margin-right: auto;
      }
      > *:last-child {
        padding: 0;
        @include flexy() {
          justify-content: space-between;
        }
      }
      & * {
        margin: 5px;
      }
    }
  }
}
//set width in vw for js charts

.widget-container {
  &-full {
    max-width: 90vw;
  }
  &-half {
    max-width: 90vw;
    @include mq("s") {
      max-width: 45vw;
    }
  }
}

.wrapper-social-containers {
  @include flexy(column) {
    // Social containers
    justify-content: space-evenly;
    @include mq("s") {
      flex-direction: row;
    }
  }
}
.social-container {
  @extend .card;
  flex: 1;
  margin: 10px;
  @include flexy() {
    align-items: center;
    justify-content: flex-start;
  }
  color: map-get($map: $theme-colours, $key: col-header);
  * {
    color: inherit;
    margin: 10px;
  }
  .social-text {
    > * {
      margin: 0;
    }
    > *:last-child {
      color: gray;
      font-size: 2em;
    }
  }
}
.social-image {
  background-color: currentColor;
  padding: 3px;
  border-radius: 50%;
  * {
    fill: white;
  }
}

// Members and activity containers

.members,
.activity {
  &-container {
    border-bottom: gray solid 0.6px;
    flex: 1;
    margin: 10px;
    padding: 10px;
    @include flexy(column) {
      align-items: center;
      @include mq("s") {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
  &-text {
    > * {
      margin: 0;
      text-align: center;
    }
    > *:last-child {
      color: revert;
    }
  }

  .profile-image {
    border-radius: 50%;
  }
}
