/* ============================================= */
/*              Navigation                       */
/* ============================================= */
@use "sass:map";
.main-nav {
  // Set nav size both mobile and wide screens
  margin-top: 65px;
  height: 55px;
  @include mq("s") {
    height: 100%;
    width: 55px;
    position: fixed;
  }
  background-color: map-get($map: $theme-colours, $key: col-nav);
  @include flexy() {
    align-items: center;
    justify-content: center;
    @include mq("s") {
      flex-direction: column;
      justify-content: start;
    }
  }

  & > * {
    width: 30px;
    height: 30px;
    margin: 15px;
    filter: map-get($map: $black-filters, $key: "white");
  }
}
#home {
  background: url(../img/svgs/home.svg) no-repeat;
}
#bar-chart {
  background: url(../img/svgs/bar-chart.svg) no-repeat;
}
#members {
  background: url(../img/svgs/members.svg) no-repeat;
}
#settings {
  background: url(../img/svgs/settings.svg) no-repeat;
}

#back-home {
  display: block;
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 1em;
  right: 1em;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 1;

  svg {
    width: 50px;
    height: 50px;
  }
  .back-home {
    fill: map-get($map: $theme-colours, $key: col-nav);
  }
  &:hover {
    opacity: 1;
  }
}
