/* ============================================= */
/*              Typography                       */
/* ============================================= */

/* ===========Header==================== */

%headline {
  font-weight: map-get($map: $font, $key: weight-thin);
}

.headline {
  &-primary {
    @extend %headline;
    font-size: 1.5em;
  }
  &-profile-name {
    @extend %headline;
    font-size: 1em;
  }
}

.headline-secondary {
  font-weight: map-get($map: $font, $key: weight-thin);
  color: map-get($map: $theme-colours, $key: font-primary);
}

/* ============================================= */

.link {
  color: map-get($map: $theme-colours, $key: col-11);
  font-weight: map-get($map: $font, $key: weight-bold);
}

.blockquote {
  font-size: 1.5em;
  font-weight: map-get($map: $font, $key: weight-thin);
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid map-get($map: $theme-colours, $key: col-13);
  border-radius: 5px;
}
