/* ============================================= */
/*              Typography                       */
/* ============================================= */

/* ===========Header==================== */

.headline {
  &-primary {
    font-weight: map-get($map: $font, $key: weight-regular);
    font-size: 1.1em;
    sup {
      font-size: 0.4em;
    }
    @include mq("s") {
      font-size: 1.5em;
      sup {
        font-size: 0.5em;
      }
    }
  }
  &-profile-name {
    font-weight: map-get($map: $font, $key: weight-thin);
    @extend %fix-font-size;
  }
  &-secondary {
    font-weight: map-get($map: $font, $key: weight-bold);
    font-size: 0.8em;
    @extend %fix-font-size;
  }
}
.alert {
  p {
    @extend %fix-font-size;
  }
}
.members,
.activity,
.settings,
.members {
  @extend %fix-font-size;
}
.members {
  a {
    word-break: break-all;
  }
}

/* ============================================= */

.link {
  color: map-get($map: $theme-colours, $key: col-11);
  font-weight: map-get($map: $font, $key: weight-bold);
}

.blockquote {
  font-size: 1.5em;
  font-weight: map-get($map: $font, $key: weight-thin);
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid map-get($map: $theme-colours, $key: col-13);
  border-radius: 5px;
}
